<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
Email:<input type="text" name="email" id="email"></input><br>
Password:<input type="text" name="password" id="password"></input><br>
<input type="submit" value="Log In" name="login" id="login"></input>
</form>