<h1>Log In Below:</h1>
<form method='POST' action='/sessions'>
 <p>Email: <input type="text" name='email' placeholder="Enter Email Here.."></p>
 <p>Password: <input type="text" name='password' placeholder="Type in Password..."></p>
 <input type='submit' value='Log In'>
</form>
