<h1>Sign Up Below:</h1>
<form method='POST' action='/registrations'>
 <p>Name: <input type="text" name='name' placeholder="Enter Name Here.."></p>
 <p>Email: <input type="text" name='email' placeholder="Enter Email Here.."></p>
 <p>Password: <input type="text" name='password' placeholder="Type in Password..."></p>
 <input type='submit' value='Sign Up'>
</form>

