<!--the template for the new user sign-up form. That template will be rendered by the get '/registrations/signup' route in our controller.-->

<h1>Sign Up Below:</h1>

<form method="post" action="/sessions">
    <p>Name: <input type="text" name="name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <input type="submit" id="Sign Up">
</form>