<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
<input type="text" name="name">Enter Name<br>
<input type="text" name="email">Enter Email<br>
<input type="text" name="password">Enter Password<br>
<input type="submit" value="Sign Up">
</form>