<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">

<h2><label for="name">Name:</label></h2>
<p>
<input type="text" name="name" id="name">
</p>

<h2><label for="email">Email:</label></h2>
<p>
<input type="text" name="email" id="email">
</p>

<h2><label for="password">Password:</label></h2>
<p>
<input type="text" name="password" id="password">
</p>
<input type="submit" id="submit" value="Sign Up">

</form>
